/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/out
/.repl
*.log
/.env
/.sass-cache
/node_modules
/.shadow-cljs/
/resources/public/js/
*.back
*.rebel_readline_history
.calva/output-window/output.calva-repl
.lsp/sqlite.db
Procfile
/.clj-kondo/
/.lsp/

### Erlang ###
.eunit
*.o
*.beam
*.plt
erl_crash.dump
event_server/.concrete/DEV_MODE

# rebar 3
.rebar3
_build/
_checkouts/