{:source-paths ["src"]

 :dependencies [[binaryage/devtools "0.9.10"]
                [proto-repl "0.3.1"]
                [reagent "1.1.0"]
                [garden "1.3.10"]
                [thi.ng/geom "1.0.0-RC4"]
                [pez/clerk "1.0.0"]
                [venantius/accountant "0.2.5"
                 :exclusions [org.clojure/tools.reader]]
                [metosin/reitit "0.5.16"]
                [cljs-http "0.1.46"]
                [cljsjs/react "17.0.2-0"]
                [cljsjs/react-dom "17.0.2-0"]]
 #_:resource-paths #_["public"]

 #_:fs-watch #_{:hawk false}
 :nrepl {:port 7002}
 :builds   {:app {:target     :browser

                  :output-dir "public/js"
                  :asset-path "/js"
                  #_:compiler-options #_{:shadow-keywords true}
                  :modules
                  {:main
                   {:entries [color-namer.core]}}
                  :devtools
                  {:http-root   "public"
                   :http-port   3000}}}
 ;:dev-http     {3000 {:root    "public"
 ;                     :handler color-namer.core/init}}
 }
